/* style.module.css */

.intro {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Transparent and blurry background */
  backdrop-filter: blur(10px); /* Blurry effect */
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px; /* Adjust the font size */
  color: white; /* Text color */
  border: 2px solid white; /* White border */
}

.logoheader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 40px;
  font-weight: 500;
}

/* Loading Progress Styles */
.progressContainer {
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 20px; /* Padding around the text */
  border-radius: 10px; /* Border radius */
  backdrop-filter: blur(10px); /* Blurry effect inside the container */
  -webkit-text-stroke: 1px white; /* White text outline with increased thickness */
  text-stroke: 8px white; /* White text outline with increased thickness */
  text-shadow: 0 0 10px gray; /* Gray outline */
}

/* Transition out the progress text after loading */
.loading-done .progressContainer {
  opacity: 0;
  transition: opacity 0.5s;
}
