.main {
  margin-top: 40px;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Transparent and blurry background */
  backdrop-filter: blur(10px);
  transition: 1s;
}

.logoheader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 40px;
  font-weight: 500;
}

.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.intro img {
  z-index: 200;
  height: 150px;
  width: auto;
}
.part1 {
  margin: 30px 100px;
  display: flex;
  gap: 20px;
}
.part1 div {
  width: 50%;
}
.img {
  width: 100%;
  height: auto;
}
.textpart p {
  font-size: 25px;
}
.ourvalues {
  position: relative;
}
.approach {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
  height: auto;
  margin-top: 140px;
}
.approach div {
  width: 50%;
}
.imgpart {
  display: flex;
  justify-content: center;
  padding-left: 170px;
}
.imgpart img {
  width: 100%;
  height: auto;
}
.approach span,
.ourvalues span {
  top: 43%;
  left: -10px;
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  transform: rotate(-90deg);
}
.ourvalues span {
  left: -30px;
}
.approach .textpart {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.textpart .head {
  font-size: 40px;
  font-weight: bold;
}
.textpart p:nth-child(2) {
  font-size: 20px;
  padding-right: 150px;
}
.textpartwedo p {
  font-size: 20px;
  padding-right: 150px;
}
.ourvalues {
  margin: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.ourvalues .values {
  margin-left: 15%;
  display: flex;
}
.values div {
  width: 50%;
}
.values .headings {
  display: flex;
  gap: 50px;
  align-items: center;
}
.values .headings p {
  font-size: 30px;
  font-weight: bold;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5%;
}
.text p {
  font-size: 20px;
}
.mainwork {
  margin: 50px 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mainworkhead {
  font-size: 40px;
  font-weight: bold;
}
.mainworkdisc p {
  font-size: 20px;
  font-weight: 400;
}
.lastpart {
  position: relative;
}
.lastImage {
  width: 100%;
  padding-left: 10%;
  padding-right: 5%;
}
.vission {
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  transform: rotate(-90deg);
  top: 20%;
  left: 2.5%;
}
.mission {
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  transform: rotate(-90deg);
  bottom: 10%;
  left: 2.5%;
}
.lastpart .firstdisc {
  text-align: center;
  top: 30%;
  left: 21%;
  color: white;
  position: absolute;
  font-size: 20px;
  width: 18%;
  line-height: 25px;
}
.lastpart .secdisc {
  text-align: center;
  bottom: 20%;
  right: 10%;
  color: white;
  position: absolute;
  font-size: 20px;
  width: 18%;
  line-height: 25px;
}
.sliderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .part1 {
    margin: 30px 30px;
  }
  .part1 div {
    width: 100%;
  }
  .approach span,
  .ourvalues span {
    transform: rotate(0deg);
    top: -70px;
    left: 10px;
  }
  .approach {
    flex-direction: column;
    margin: 150px 20px;
  }
  .imgpart {
    padding-left: 0;
  }
  .textpart p {
    font-size: 20px;
  }
  .approach div {
    width: 100%;
  }
  .textpart p:nth-child(2) {
    font-size: 17px;
    padding-right: 0px;
  }
  .textpartwedo p {
    padding-right: 0px;
  }
  .mainwork {
    margin: 90px 20px;
  }
  .ourvalues {
    margin: 190px 20px;
    padding-top: 40px;
  }
  .ourvalues .values {
    margin-left: 0;
    gap: 40px;
  }
  .lastImage {
    height: auto;
    padding: 0 0;
    margin-bottom: 80px;
  }
  .lastpart .firstdisc,
  .lastpart .secdisc {
    font-size: 15px;
  }
  .lastpart .firstdisc {
    top: 20%;
  }
  .lastpart .secdisc {
    bottom: 13%;
  }
  .vission,
  .mission {
    transform: rotate(0deg);
  }
  .vission {
    top: -40px;
    left: 6.5%;
  }
  .mission {
    bottom: 40px;
    left: 6.5%;
  }
}
@media (max-width: 500px) {
  .textpart p {
    font-size: 17px;
  }
  .mainworkdisc p {
    font-size: 17px;
  }
  .mainworkhead {
    font-size: 25px;
  }
  .values .headings img {
    height: 40px;
    width: auto;
  }
  .values .headings {
    gap: 10px;
    align-items: flex-start;
  }
  .values .headings p {
    font-size: 20px;
  }
  .text p {
    font-size: 17px;
  }
  .ourvalues {
    margin: 190px 5px;
  }
  .lastpart .firstdisc {
    top: 11%;
    left: 6%;
    width: 150px;
  }
  .lastpart .secdisc {
    bottom: 13%;
    width: 100px;
    font-size: 11px;
    right: 4%;
  }
}
