* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 10px;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0;
}

input {
  outline: none;
  border: none;
  background-color: #6c6561;
  padding: 10px 20px;
  font-size: 17px;
  color: white;
  width: 200%;
  height: 200%;
}

input::placeholder {
  color: white;
}

textarea {
  width: 110%;
  height: 110%;
  padding: 15px;
  border: none;
  background-color: #6c6561;
  font-size: 20px;
  color: white;
}

input:focus,
input:active {
  background-color: #524e4d;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform-origin: top;
}

.slideimage {
  width: 100%;
  height: 100%;
}

.intro {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #161616;
  transition: 1s;
}

.logoheader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

/* Add these styles to make the table responsive */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

/* Adjust the font size for smaller screens */
@media (max-width: 620px) {
  table {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  th,
  td {
    width: 100%;
    padding: 5px;
  }
}

@media (max-width: 420px) {
  table {
    font-size: 14px;
  }
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 40px;
  font-weight: 500;
}

.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}