body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  border-radius: 10px;
}
a {
  text-decoration: none;
}
p{
  margin: 0 0;
}
input{
  outline: none; 
  border: none;
  background-color: #524e4d;
  padding: 10px 20px;
  font-size: 17px;
  color: white;
  width: auto;
  max-width: 100%;
}
input::placeholder {
  color: white;
}
input:focus,
input:active {
  background-color: #524e4d;
}