.main {
  padding: 100px 100px;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #161616;
  transition: 1s;
}

.logoheader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo2 {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 40px;
  font-weight: 500;
}

.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.intro img {
  z-index: 200;
  height: 150px;
  width: auto;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.namings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact {
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 1px;
}
.askings {
  font-size: 25px;
  font-weight: 400;
}
.askings span {
  font-weight: bold;
  font-size: 50px;
}

.circle {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  transform: rotate(-90deg);
  bottom: 0%;
  right: 10px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent; /* Set the initial background color to transparent */
  transition: background-color 2s ease, transform 1s ease, box-shadow 1s ease;
}

.circle:hover {
  background-color: black;
  color: white;
  transform: scale(1.05) rotate(-90deg); /* Increase size on hover for a 3D effect */
  box-shadow: 0 0 20px rgba(0, 0, 0, 5);
  cursor: pointer;
}
@media (max-width: 1000px) {
  .main {
    padding: 100px 20px;
  }
}
@media (max-width: 800px) {
  .askings span {
    font-size: 45px;
  }
  .contact {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .circle {
    display: none;
  }
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .main {
    padding: 40px 20px;
  }
  .namings {
    gap: 20px;
  }
}
