.main {
  padding: 100px 100px;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.namings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.contact {
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 1px;
}
.askings {
  font-size: 25px;
  font-weight: 500;
}
.askings span {
    font-weight: bold;
    font-size: 50px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  transform: rotate(-90deg);
  bottom: 0%;
  right: 10px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent; /* Set the initial background color to transparent */
  transition: background-color 2s ease, transform 1s ease, box-shadow 1s ease;
}

.circle:hover {
  background-color: #D03A71;
  transform: scale(1.05) rotate(-90deg); /* Increase size on hover for a 3D effect */
  box-shadow: 0 0 20px rgba(0, 0, 0, 5);
  cursor: pointer;
}